$logo-color: #000;
$text-color: #212121;
$hero-logo-color: #FFFFFF;
$secondary-text-color: #757575;
$main-bg: #FFFFFF;
$footer-link-color: #999999;
$secondary-bg: #F5F4FA;
$hover-color: #2196F3;
$btn-logo-color: #2196F3;
$button-hover: #188CE8;
$icon-border-color: #afb1b8;
$footer-bg-color: #2f303a;
$linear-gradient: rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4);
$shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
$webstudio-font: "Raleway";
$main-font: "Roboto";
$standart-em: 0.03em;