.section3{
    background-color: #F5F4FA;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    

    .team{
        @extend .small-title;
        font-weight: 700;
        font-size: 28px;
        line-height: 33px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
        margin-bottom: 30px;
    }

    @media screen and (min-width: 768px) {
        .team-list{
            display: flex;
            flex-wrap: wrap;
        }
        .team-item{
            width: calc((100% - 4 * 15px) / 2);
            margin: 15px;
        }
    }
    @media screen and (min-width: 1200px) {
        .team-list{
            display: flex;
            flex-wrap: wrap;
        }
        .team-item{
            width: calc((100% - 8 * 15px) / 4);
        }
    }
}

.team-item{
    @extend .small-title;
    background: white;
    box-shadow: $shadow;
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 30px;
    padding-bottom: 30px;

    .name{
        font-weight: 500;
        color: $text-color;
        margin-top: 30px;
    }
    
    .info{
        font-weight: 400;
        color: $secondary-text-color;
        margin-top: 10px;
    }
}